.hero {
  background-color: rgba(63, 133, 92, 0.9);
  color: rgb(255, 255, 255);
  padding-bottom: 97px;
}

.date-vebinar {
  display: inline-block;
  padding: 9px 10px;
  background-color: #fff;
  border-bottom-right-radius: 15px;
  color: #3f855c;
}

.hero-title {
  margin-bottom: 51px;
  font-size: 58px;
  font-weight: 800;
  line-height: 1.31;
  text-transform: uppercase;
}

.hero .text {
  font-style: italic;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.hero-wrap {
  display: flex;
}

.list-questions {
  display: flex;
  gap: 1px;
}

.list-questions .item {
  width: 282px;
  height: 133px;
  background: rgba(0, 0, 0, 0.2);
  padding-top: 17px;
  padding-left: 10px;
}

.list-questions .item span {
  display: inline-block;
  font-style: italic;
  margin-bottom: 10px;
}

.hero-btn {
  width: 100%;
  padding: 47px 70px;
  color: rgb(63, 133, 92);
  line-height: 1.25;
  text-transform: uppercase;
  border-bottom-right-radius: 50px;
  border: transparent;
}
